.nav{
    position: fixed;
    top: 0;
    width:100%;
    padding: 20px;
    height:30px;
    z-index: 1;
    display:flex;
    justify-content: space-between;

    /* Animations */
    transition-timing-function: ease-in;
    transition: all 0.5s;

}

.nav__black{
    background-color: rgba(0, 0, 0, 0.9);
}
.nav__logo{
    position:fixed;

    left: 50px;
    width: 10%;
    object-fit: contain;
}
.nav__avatar{
    position:fixed;
    right: 50px;
    width: 3%;
    object-fit: contain;
}


@media only screen and (max-width: 450px) {
    .nav__logo {
        width: 30%;
    }
    .nav__avatar{
        width: 8%
    }

  }